@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	
}


td.header01{
	

	background-color:#210;
	background-image: linear-gradient(#160800, #403000);	
	font-size: 16px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	padding: 0 10px 0 0px;
}

td.header00{
	

	background-color:#c0c0c0;
	background-image: linear-gradient(#c0c0c0, #fff);	
	font-size: 16px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	padding: 0 10px 0 0px;
}

td.footer01{
	

	background-color:#121;
	background-image: linear-gradient(to right, #160800, #403000);	
	font-size: 12px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	padding : 5px;
}

td a:link{
	color: #fff;
	text-decoration: none;
	
}

td a:visited{

	color: #fff;
	
}


td a:hover{
	
	color: #33cc33;
	font-weight:bold;
	text-decoration: underline;
	transition-duration: 0.6s;
}

th.header01{
	

	background-color:#122;
	background-image: linear-gradient(to right, #121, #353);
	font-size: 16px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 20px 0;
	border-bottom: solid;
	border-bottom-color: #1da; 
}

td.header05{
	
	background-color:#122;
	font-size: 16px;
	color: #ffffff;
	font-family: arial;
	font-weight: bold;
	text-align: center;
	border-radius: 0 20px 20px 0;
	border-bottom: solid;
	border-bottom-color: #1da; 
}


