@charset "UTF-8";

span.main01{
	font-size: 50px;
	color: #122;
	font-family: sans-serif;
	font-weight: bold;
}

span.main02{
	font-size: 20px;
	color: #a0a0a0;
	font-family: Arial;
	font-weight: normal;
}

span.main03{
	font-size: 48px;
	color: #ffffff;
	font-family: sans-serif;
	font-weight: normal;
	text-align: center;
}

span.main04{
	font-size: 32px;
	color: #bacada;
	font-family: monospace;
	font-weight: normal;
	
}

img{
	display: block;
	margin : auto;
	
}
